/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  *= require simple_calendar
 *= require_tree .
 *= require_self
 */

header{
    height: 143px;
    background-color: #50A0A0;
    color: #FFFFFF;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.header-list {
    padding: 2.5% 0;
    display: frex;
    flex-direction: row;
    }

.header-list> *{
  min-width: 8%;
  font-size: 15px;
  text-align: right;
}


.first-block {
    height: 826px;
    background-color: #F2F5FF;
    font-family: 'Zen Maru Gothic', sans-serif;
  }

ul{
    padding-left:0;
  }
  
li{
    list-style:none;
  }