// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.header{
    height: 143px;
    background-color: #50A0A0;
    color: #FFFFFF;
    font-family: 'Zen Maru Gothic', sans-serif;
  }
  
  .first-block {
    height: 826px;
    background-color: #F2F5FF;
    font-family: 'Zen Maru Gothic', sans-serif;
  }
    


  .sexeducation-image {
    width: 1147px;
    height: 703px;
  }
  
  .second-block {
    height: 744px;
    background-color: #50A0A0;
    color: #FFFFFF;
    font-family: 'Zen Maru Gothic', sans-serif;
  }
  
  
  
  footer{
    height: 50px;
    background-color: rgb(247, 243, 243);
  }

  .field{
    text-align: center;

  }
  .second-block h3{
    text-align: center;
  }